<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045367266634-lsr120206v5fq3piubv3qi57ne223igp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045367266634-lsr120206v5fq3piubv3qi57ne223igp</string>
	<key>API_KEY</key>
	<string>AIzaSyBloP0RZhX2ulWl9bARlLRh_tq3bWvmrqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1045367266634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guailet</string>
	<key>PROJECT_ID</key>
	<string>educare-a7ea2</string>
	<key>STORAGE_BUCKET</key>
	<string>educare-a7ea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045367266634:ios:b80bdd13ff1c14f67135b3</string>
</dict>
</plist>